<footer class="site-footer">

  <div class="wrapper">

<a href="http://math.columbia.edu" target="_blank">
    <img src="{{site.baseurl}}/cu.png" alt="" style="height: 100px;"></a>
    <a href="http://nsf.gov" target="_blank">
    <img src="{{site.baseurl}}/nsf.png" alt="" style="height: 100px;"></a>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <p style="text-align:right;border-left-width: 100px;padding-left: 200px;width: 187.433px;"> Web design by <a style="color:#828282;" href="https://blogs.cuit.columbia.edu/cr2940"> Judah Ryoo.  </a></p> 
      </div>


      

  </div>

</footer>
