<footer class="site-footer">

  <div class="wrapper">

<a href="http://math.columbia.edu" target="_blank">
    <img src="{{site.baseurl}}/cu.png" alt="" style="height: 100px;"></a>
    <a href="http://nsf.gov" target="_blank">
    <img src="{{site.baseurl}}/nsf.png" alt="" style="height: 100px;"></a>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      

  </div>

</footer>
